<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

	<title>Todo3</title>

	<link rel="shortcut icon" href="assets/images/gt_favicon.png">

	<!-- Bootstrap itself -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<!-- Icons -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<!-- Fonts -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<!-- Custom styles -->
	<link rel="stylesheet" href="assets/css/styles.css">


</head>
<!-- Header -->
<header class="header">
	<div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-push-2 text-center">

        <%= form_with(model: todo_item, local: true) do |form| %>
          <% if todo_item.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(todo_item.errors.count, "error") %> prohibited this todo_item from being saved:</h2>

              <ul>
              <% todo_item.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <h1><%= form.label :description %></h1>
          <%= form.text_field :description, id: :todo_item_description %>

          <div class="actions">
              <%= form.submit %>
          </div>
            <% end %>
        </div>
		 </div>
    </div>
</header>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="assets/js/template.js"></script>
<body>
</body>
</html>
