<!DOCTYPE html>
<p id="notice"><%= notice %></p>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

	<title>Todo3</title>

	<link rel="shortcut icon" href="assets/images/gt_favicon.png">

	<!-- Bootstrap itself -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<!-- Icons -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<!-- Fonts -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<!-- Custom styles -->
	<link rel="stylesheet" href="assets/css/styles.css">

<!-- Header -->
<header class="header">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-push-2 text-center">
				<h1>Hello There this is the index page! Welcome to my quickly created app!</h1>
				<h2>Check it out</h2>
				<p class="lead">
					Completing my homework</p>

          <tr>Description</tr>
          <th colspan="3"></th>
          <tbody>
            <% @todo_items.each do |todo_item| %>
              <tr>
                <ul>


                <tr><%= todo_item.description %></tr>
                <!-- <td><%= link_to 'Show', todo_item %></td> -->
                <tr><%= link_to 'Edit', edit_todo_item_path(todo_item) %></tr>
                <!-- <td><%= link_to 'Destroy', todo_item, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
                </ul>
              </tr>
            <% end %>
				<p>
          <br>

				<form class="form-inline" role="form">
					<button type="submit" class="btn btn-lg btn-default"><%= link_to 'New Todo Item', todo_items_path %></button>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div id="illustration">
          <iframe src="https://giphy.com/embed/IxKt9HOM1mI80" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/excited-the-hills-lauren-conrad-IxKt9HOM1mI80">via GIPHY</a></p>
				</div>
			</div>
		</div>
	</div>
</header>

</main>


<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="assets/js/template.js"></script>
<body>
</body>
</html>
